<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="icon" href="/assets/images/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/assets/css/layout.css">
{{ page_head }}
</head>
<body>
    <header id="app-header"></header>
{{ content }}
    <footer id="app-footer"></footer>
    <script src="/assets/js/layout.js"></script>
{{ page_scripts }}
</body>
</html>
